<h2 class="mb-5">New Customer</h2>
<div class="row row-cols-2 justify-content-center"> 
    <form [formGroup]="form" (ngSubmit)="create()">
        <div class="mb-3">
            <label for="First Name">First Name</label>
            <input id="firstName" type="text" placeholder="First Name" class="form-control"
                    formControlName="firstName">
        </div>
    
        <div class="mb-3">
            <label for="Last Name">Last Name</label>
            <input id="lastName" type="text" placeholder="Last Name" class="form-control"
                    formControlName="lastName">
        </div>
    
        <div class="mb-3">
            <label for="City">City </label>
            <input id="city" type="text" placeholder="City" class="form-control"
                    formControlName="city">
        </div>
    
        <div class="mb-3">
            <label for="SSN">SSN </label>
            <input id="ssn" type="number" placeholder="SSN" class="form-control"
                    formControlName="ssn">
        </div>
    
        <div class="text-end">
            <button type="button" class="btn btn-light" routerLink="/">
                Cancel
            </button>
            <button class="btn btn-primary ms-2">
                Create Customer
            </button>
        </div>
    </form>
</div>
